
button {
    border: solid 1px #552D25;
    text-align: center;
    padding: 8px 10px;
    font-size: 1.25em;
    background: none;

}

.button-round {
    border-radius: 100px;
}

.button-square {
    border-radius: 0;
}

@media (max-width: 1024px) {
    button {
        font-size: 1.1em;
        padding: 10px 14px;
    }
}

@media (max-width: 768px) {
    button {
        font-size: 1em;
        width: 90%;
        max-width: 100px;
        padding: 12px 0;
    }
    .button-round {
    border-radius: 50px;
    }   
    .button-square {
        border-radius: 6px;
    }
}

