#delivery {
    padding: 60px 0;
}

.delivery-content {
    display: flex;
    justify-content: flex-start;
    gap: 108px;
    padding-left: 50px;
    padding-right: 120px;
    max-width: 1200px;
    margin: 0 auto;
}

.delivery-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-block img {
    width: 120px;
    height: 100px;
    margin-bottom: 40px;
}

.delivery-block h3 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.delivery-block p,
.delivery-block ul {
    font-weight: 400;
    font-size: 20px;
    align-self: flex-start;
    margin: 0 0 20px 0;
}

#delivery > h2 {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    margin-top: 10px;
}

.delivery-block ul {
    list-style: none;
    padding-left: 0;
}

.delivery-block span{
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
}

@media (max-width: 1024px) {
    #delivery {
        padding: 50px 0;
    }

    #delivery > h2 {
        font-size: 48px;
    }

    .delivery-content {
        gap: 60px;
        padding-left: 30px;
        padding-right: 60px;
    }

    .delivery-block img {
        width: 100px;
        height: 80px;
        margin-bottom: 30px;
    }

    .delivery-block h3 {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .delivery-block p,
    .delivery-block ul,
    .delivery-block span {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    #delivery {
        padding: 40px 10px;
    }

    #delivery > h2 {
        font-size: 36px;
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }

    .delivery-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .delivery-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: unset;
        text-align: left;
    }

    .delivery-block img {
        width: 80px;
        height: auto;
        margin-bottom: 10px;
    }

    .delivery-block h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .delivery-block p,
    .delivery-block ul,
    .delivery-block span {
        font-size: 14px;
        margin: 0;
    }
}
