header {
    display: flex;
    align-items: center;
}

header > img {
    width: 56px;
    height: 56px;
    margin-left: 10px;
    margin-right: auto;
}

header > nav {
    display: flex;
    gap: 10px;
}

header > nav a {
    color: #552D25;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
}

header > button {
    margin-left: auto;
    color: #552D25;
}

@media (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }
    header > nav a {
        font-size: 16px;
    }
    header > img {
        width: 48px;
        height: 48px;
    }
    header button {
        padding: 5px 10px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 15px;
        justify-content: space-between; 
    }

    header > nav a {
        font-size: 14px;
        gap: 10px;
    }

    header > img {
        width: 40px;
        height: 40px;
    }

    header > button {
        padding: 5px 10px;
        font-size: 14px;
    }
}