#howwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#howwork > h2 {
    font-weight: 400;
    font-size: 64px;
}

#howwork > ol {
    font-weight: 400;
    font-size: 24px;
    width: 60%;
}

#howwork > ol > li {
    padding-left: 50px;
}

#howwork > ol > li::marker {
    margin-right: 87px;
    content: counter(list-item);
}

@media (max-width: 1024px) {
    #howwork > h2 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    #howwork > ol {
        width: 80%;
        font-size: 20px;
    }

    #howwork > ol > li {
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    #howwork {
        padding: 40px 0;
        text-align: left;
    }

    #howwork > h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }

    #howwork > ol {
        width: 90%;
        font-size: 18px;
        padding: 0;
    }

    #howwork > ol > li {
        padding-left: 20px;
        margin-bottom: 15px;
    }
}

