#about {
    display: flex;
    align-items: center;
    margin: 130px auto;
    justify-content: center;
    gap: 100px;
}

#about img {
    width: 510px;
}

#about h2 {
    font-family: 'Alumni Sans';
    font-size: 64px;
    font-weight: 400;
}

#about p {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 24px;

}

#about div { 
    flex-direction: column;
    display: flex;
    width: 600px;
}

@media (max-width: 1024px) {
    #about {
        gap: 50px;
    }

    #about img {
        width: 400px;
    }

    #about h2 {
        font-size: 48px;
    }

    #about p {
        font-size: 20px;
    }

    #about div {
        width: 500px;
    }
}

@media (max-width: 768px) {
    #about {
        flex-direction: row;
        gap: 30px;
        margin: 80px auto;
        text-align: center;
    }

    #about div {
        width: 90%;
    }

    #about img {
        width: 90%;
        max-width: 350px;
        height: auto;
    }

    #about h2 {
        font-size: 36px;
    }

    #about p {
        font-size: 18px;
    }
}