#about {
    display: flex;
    align-items: center;
    margin: 130px auto;
    justify-content: center;
    gap: 100px;
}

#about img {
    width: 510px;
}

#about h2 {
    font-family: 'Alumni Sans';
    font-size: 64px;
    font-weight: 400;
}

#about p {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 24px;

}

#about div { 
    flex-direction: column;
    display: flex;
    width: 600px;
}